
#Data Science Tools and Ecosystem


### In this notebook, Data Science Tools and Ecosystem are summarized.


### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia



### Some of the commonly used libraries used by Data Scientists include:

1. Apache Hadoop
2. Apache Hive
3. Apache Pig

## Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|-|
| JupyterLab |
| Spyder |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

## Exercise 9 - Create a code cell to convert minutes to hours

In [11]:
total_minutes =200

# Get hours
hours = total_minutes // 60

# Additional minutes 
minutes = total_minutes % 60

# Time as a string
time_string = "{}:{}".format(hours, minutes)

print(time_string) # Prints total hours

3:20

## Exercise 10 - Insert a markdown cell to list Objectives